

























.container-bottom{
    display:flex;
    flex-direction: column;
    background:url("pics/black1.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:4px;
}
.box{
    margin:auto;
}